body{
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Maven Pro';
}

#banniere{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:50px;
    background-color: rgb(248, 246, 246);
    
}

#banniere a{
    
    padding-left:7.5%;
    padding-right: 7.5%;
    padding-top:1%;
    color:rgb(2, 2, 2);
    text-decoration:none;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
   
}

.wrap3 {
	perspective: 800px;
    background-color:black;
    z-index: 9;
	
}
.cube3 {
	position: relative;
	width: 50px;
	transform-style: preserve-3d;
	animation:tourne3 5s infinite linear;
	

    z-index: 10;
}
.cube3 div {
    position: absolute;
	width: 50px;
    height: 50px;
    z-index: 10;
    top:-17px;
    
    
}
@keyframes tourne3{
    0% {transform: rotateY(0);}
    100% {transform : rotateY(-360deg);}
}
.back3 {
	transform: translateZ(25px) rotateY(180deg);
	background-image: url(../Sitepro/LogoWN.jpg);
	background-size:cover;
	background-position:center;
}
.right3 {
	transform: rotateY(-270deg) translateX(25px);
	background-image: url(../Sitepro/LogoWN.jpg);
	background-size:cover;
	background-position:center;
	transform-origin: top right;
}
.left3 {
	transform: rotateY(270deg) translateX(-25px);
	background-image: url(../Sitepro/LogoWN.jpg);
	background-size:cover;
	background-position:center;
	transform-origin: center left;
}
.top3 {
	transform: rotateX(-90deg) translateY(-25px);
	background-image: url(../Sitepro/LogoWN.jpg);
	background-size:cover;
	background-position:center;
	transform-origin: top center;
}
.bottom3 {
	transform: rotateX(90deg) translateY(25px);
	background-image: url(../Sitepro/LogoWN.jpg);
	background-size:cover;
	background-position:center;
	transform-origin: bottom center;
}
.front3 {
	transform: translateZ(-25px);
	background-image: url(../Sitepro/LogoWN.jpg);
	background-size:cover;
	background-position:center;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
#fond{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:700px;
    background: linear-gradient(white,rgb(167, 166, 166),rgb(94, 93, 93),black);
    background-position:center;
    animation: image 30s infinite;
    border-bottom: 15px solid white;
    
}
#fond img{
    
    width:75%;
    height: 500px;

}

.block1{
    display:flex;
    flex-flow: row wrap;
}
#Accueil{
    width:100%;
    height:300px;
    text-align: center;
    background-color:black;
    color:white;
    border-bottom: 10px solid white;
}
#Accueil h2{
    letter-spacing: 3px;
}
#footer{
    width:100%;
    height:50px;
    background: linear-gradient(rgb(0, 0, 0),rgb(94, 93, 93),rgb(167, 166, 166),rgb(255, 255, 255));
    text-align: center;
}

/* page 2 */

#banniere2{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:50px;
    background-color: rgb(36, 35, 35);
}

#banniere2 a{
    
    padding-left:5%;
    padding-right: 5%;
    padding-top:1%;
    color:white;
    text-decoration:none;
   
}
#banniere2 a:hover{

    box-shadow: inset 5px 5px 50px rgba(126, 233, 224, 0.534);
}
#banniere2 img{
    margin-top: -10px;
    width:50px;
}
#fondp2{
    width:100%;
    height:800px;
    background-color: black;
    background-size:cover;
    background-position:center;
    animation: image2 30s infinite;
}
#fondp2 img{
    width:100%;
    height: 800px;

}


@keyframes image2{
    from{
        background-image: url("../Sitepro/foret1.jpg");
        }
    35%{
        background-image: url("../Sitepro/foret2.jpg");
        }
    50%{
        background-image: url("../Sitepro/foret3.jpg");
        }
    75%{
        background-image: url("../Sitepro/foret4.jpg");
         }
    to{
        background-image: url("../Sitepro/foret1.jpg");
        }
}
.block3{
    display:flex;
    flex-flow: row wrap;
}
#Actu{
    width:50%;
    height:400px;
    background-color:black;
    color:white;
}
#loup{
    width:50%;
    height:400px;

}
#loup img{
    width:100%;
    height:400px;
}

.block4{
    display:flex;
    flex-flow: row wrap;
}
#Precedemment{
    width:50%;
    height:400px;
    background-color:black;
    color:white;
}
#coyote{
    width:50%;
    height:400px;

}
#coyote img{
    width:100%;
    height:400px;
}
#footer2{
    width:100%;
    height:50px;
    background-color: rgb(32, 32, 32);
    
}
/* page 3 */

#banniere3{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:50px;
    background-color: rgb(36, 35, 35);
}

#banniere3 a{
    
    padding-left:5%;
    padding-right: 5%;
    padding-top:1%;
    color:white;
    text-decoration:none;
   
}
#banniere3 a:hover{

    box-shadow: inset 5px 5px 50px rgba(233, 213, 126, 0.534);
}
#banniere3 img{
    margin-top: -10px;
    width:50px;
}
#fondp3{
    width:100%;
    height:800px;
    background-color: black;
    background-size:cover;
    background-position:center;
    animation: image3 30s infinite;
}
#fondp3 img{
    width:100%;
    height: 800px;

}


@keyframes image3{
    from{
        background-image: url("../Sitepro/Savane1.jpg");
        }
    35%{
        background-image: url("../Sitepro/Savane2.jpg");
        }
    50%{
        background-image: url("../Sitepro/Savane3.jpg");
        }
    75%{
        background-image: url("../Sitepro/Savane4.jpg");
         }
    to{
        background-image: url("../Sitepro/Savane1.jpg");
        }
}
.block5{
    display:flex;
    flex-flow: row wrap;
}
#PPRO{
    width:50%;
    height:400px;
    background-color:black;
    color:white;
}
#lion{
    width:50%;
    height:400px;

}
#lion img{
    width:100%;
    height:400px;
}

.block6{
    display:flex;
    flex-flow: row wrap;
}
#PPerso{
    width:50%;
    height:400px;
    background-color:black;
    color:white;
}
#rhino{
    width:50%;
    height:400px;

}
#rhino img{
    width:100%;
    height:400px;
}
#footer3{
    width:100%;
    height:50px;
    background-color: rgb(32, 32, 32);
    
}
/* page 4 */

#banniere4{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:50px;
    background-color: rgb(36, 35, 35);
}

#banniere4 a{
    
    padding-left:5%;
    padding-right: 5%;
    padding-top:1%;
    color:white;
    text-decoration:none;
   
}
#banniere4 a:hover{

    box-shadow: inset 5px 5px 50px rgba(243, 242, 240, 0.534);
}

#banniere4 img{
    margin-top: -10px;
    width:50px;
}
#fondp4{
    width:100%;
    height:800px;
    background-color: black;
    background-size:cover;
    background-position:center;
    animation: image4 30s infinite;
}
#fondp4 img{
    width:100%;
    height: 800px;

}


@keyframes image4{
    from{
        background-image: url("../Sitepro/glacier1.jpg");
        }
    35%{
        background-image: url("../Sitepro/glacier2.jpg");
        }
    50%{
        background-image: url("../Sitepro/glacier3.jpg");
        }
    75%{
        background-image: url("../Sitepro/glacier4.jpg");
         }
    to{
        background-image: url("../Sitepro/glacier1.jpg");
        }
}
.block7{
    display:flex;
    flex-flow: row wrap;
}
#form{
    width:50%;
    height:400px;
    background-color:black;
    color:white;
}
#ours{
    width:50%;
    height:400px;

}
#ours img{
    width:100%;
    height:400px;
}

.block8{
    display:flex;
    flex-flow: row wrap;
}
#hobbies{
    width:50%;
    height:400px;
    background-color:black;
    color:white;
}
#pinguin{
    width:50%;
    height:400px;

}
#pinguin img{
    width:100%;
    height:400px;
}
#footer3{
    width:100%;
    height:50px;
    background-color: rgb(32, 32, 32);
}
/* page formulaire */

#banniere5{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:50px;
    background-color: rgb(36, 35, 35);
}

#banniere5 a{
    
    padding-left:5%;
    padding-right: 5%;
    padding-top:1%;
    color:white;
    text-decoration:none;
   
}
#banniere5 a:hover{

    box-shadow: inset 5px 5px 50px rgba(248, 5, 5, 0.849);
}

#banniere5 img{
    margin-top: -10px;
    width:50px;
}
#fondp5{
    display: flex;
    justify-content: center;
    width:100%;
    height:900px;
    background-color: black;
    background-size:cover;
    background-position:center;
    animation: image5 30s infinite;
}
#fondp5 img{
    width:100%;
    height: 800px;

}


@keyframes image5{
    from{
        background-image: url("../Sitepro/abstrait1.jpg");
        }
    20%{
        background-image: url("../Sitepro/abstrait2.jpg");
        }
    40%{
        background-image: url("../Sitepro/abstrait3.png");
        }
    60%{
        background-image: url("../Sitepro/abstrait4.jpg");
         }
    80%{
        background-image: url("../Sitepro/abstrait5.jpg");
    }
    to{
        background-image: url("../Sitepro/abstrait1.jpg");
        }
}

legend{
    color:white;
    margin-top:30px;
    
}
fieldset{
    margin-top:5%;
    background: linear-gradient(rgb(151, 1, 1),rgb(199, 0, 0),rgb(231, 2, 2),white);
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 20%;
    height:475px;
    text-align: center;
}

label{
    margin-top:10%;
}
#Envoyer{
    margin-top:10%;
    text-align: center;
    width:30%;
}